body {
    display: flex;
    flex-direction: column;
}

/* VARIABLES */
:root {
    --color-main-1: #27adeb;
    --color-main-2: #0c1e4b;
    --color-main-3: #fff;
    --color-bg-footer: #000000;
}

/* --------- HEADER SECTION --------- */

header {
    /* flexbox controls */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* increase container width to full screen */
    width: 100%;
    padding: 20px 0;
    background-color: var(--color-main-1);
    color: var(--color-main-3);
    border: 10px solid var(--color-main-2);
}

#head-title-container{
    text-align: center;
    background-color: var(--color-main-2);
    border-radius: 0 20px 20px 0;
    padding-left: 20px;
    z-index: 1;
}

#header-title{
    z-index: 3;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 0;
}

nav {
    /* flexbox controls */
    display: flex;
    flex-direction: column;
    /* sizing */
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}

.nav-link {
   background-color: var(--color-main-2);
   font-size: 1.2rem;
   font-weight: 600;
   padding: 10px 0;
   border: 2px solid var(--color-main-1);
   border-radius: 20px;
   width: 90%;
   margin: 0 auto;
}

/* ----------- LARGE HERO ------------- */

#med-hero {
    /* flexbox controls */
    display: flex;
    justify-content: center;
    /* setting background */
   background-image: url("/assets/img/3472.jpg");
   background-repeat: no-repeat;
   /* positioning the content */
   height: 10vh;
   padding: 20px 0;
}

#med-hero span {
   background-color: var(--color-main-1);
   /* font settings */
   font-size: 1.25rem;
   font-weight: 700;
   border: 5px solid var(--color-main-3);
   width: 90%;
   text-align: center;
   padding-top: 5px;
}

/* ----------- MAIN CONTAINER ---------- */

/* center the main body */
#main-container {
    display: flex;
    justify-content: center;
}

/* MAIN BODY */

#avatar{
    aspect-ratio: 1 / 1;
    width: 80%;
    max-width: 300px;
    padding-top: 30px;
}

main {
    /* flexbox controls */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    padding: 0 25px;
}

.main-sections {
    /* flexbox controls */
    display: flex;
    flex-direction: column;
    /* sizing */
    padding: 20px 0;
}

.title-wrapper{
    color: var(--color-main-2);
    padding: 10px 0;
    border-bottom: 4px solid var(--color-main-2);
}

.section-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;

}

.section-article {
    padding-top: 10px;
}

/* ----------- ABOUT ME SECTION ----------- */

#about-info-wrapper p {
    padding: 10px 0;
    font-size: 1.125rem;
}

/* -------------- WORK SECTION ----------------- */

#project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--color-main-3);
    padding-bottom: 10px;
}

.work-link {
    flex-basis: 100%;
    height: 120px;
    margin: 10px;
    border: 5px solid var(--color-main-2);
}

.project-title {
    background-color: var(--color-main-2);
    position: relative;
    left: -5px;
    bottom: -40px;
    width: 160px;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 1rem;
    z-index: 2;
}

#project1 {
    background-image: url("/assets/img/working_with_css_22218720ab-jpg.jpg");
    background-position-y: -200px;
    background-size: contain;
}

#project2{
    background-image: url("/assets/img/LED-Wall-Benefits.png");
    background-repeat: repeat;
    background-position-x: -20px;
    background-position-y: -20px;
}

#project3{
    background-image: url("/assets/img/pngtree-cartoon-satellite-ruler-calculator-linear-education-background-picture-image_1458755.jpg");
    background-position-y: -150px;
    background-position-x: -20px;
}

#project4{
    background-image: url("/assets/img/1000_F_235526413_vTWOZgJqJdB1elye0Vy3bBJX2YuLMf78.jpg");
    background-position-y: -300px;
    background-position-x: -20px;
}

#project5{
    background-image: url("/assets/img/buddyrun_header.jpg");
    background-position-y: -200px;
}

/* --------- CONTACT SECTION ---------- */

#contact {
    padding-bottom: 10%;
}

#contact-info-container{
    text-align: center;
    font-weight: 600;
    padding: 0 7px;
    padding-top: 20px;
}

#contact-info-container a {
    font-size: 1.125rem;
    padding: 0 10px;
}

/* ----------- FOOTER SECTION -------------- */

footer {
    /* adding footer color scheme */
    background-color: var(--color-main-2);
    color: var(--color-main-3);
    /* setting box sizes */
    text-align: center;
}

#copy {
    color: var(--color-main-3);
    font-size: 1rem;
    padding: 25px 0;
    font-weight: 600;
}

/* MEDIA QUERIES */

/* tablet screen sizes */

@media screen and (min-width: 426px) {

    nav{
        display: flex;
        flex-direction: row;
    }

    .nav-link {
        margin: 0 5px;
    }

}

/* laptop screen sizes and above */

@media screen and (min-width: 1023px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        height: 13vh;
    }

    #head-title-container {
        padding: 10px 0;
        padding-left: 50px;
        padding-right: 20px;
    }

    #header-title {
        font-size: 2.5rem;
        padding: 0;
    }

    #med-hero {
        height: 20vh;
        justify-content: end;
    }

    #med-hero span{
        width: 30%;
        height: 40%;
        position: relative;
        bottom: -70px;
        right: 40px;
        font-size: 1.4rem;
        line-height: 1.6;

    }

    main{
        justify-content: start;
        width: 90%;
        padding: 0;
    }

    nav {
        padding: 0;
        vertical-align: middle;
    }

    #nav-flex {
        display: flex;
        align-items: center;
    }

    .nav-link {
        padding: 5px 5px;
        width: 150px;
        font-size: 1.175rem;

    }

    .main-sections {
        flex-direction: row;
        align-items: start;
    }

    .section-title{
        text-align: right;
        font-size: 3rem;
    }

    .section-article{
        padding-left: 30px;
        flex-wrap: wrap;
    }

    #about-info-wrapper p {
        font-size: 1.4rem;
    }

    .op-layer {
        width: 100%;
        height: 100%;
        background-color: rgba(34, 120, 177, 0.5);
        position: relative;
        top: -84px;
        z-index: 1;
    }
    
    .op-layer:hover {
        height: 100%;
        background-color: rgba(34, 120, 177, 0.0);
        transition: all 0.3s ease-in-out;
    }

    .box{
        margin-bottom: 20px;
    }
    
    #pro-row-top {
        width: 100%;
    }

    #pro-row-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }

    .pro-rows {
        display: flex;
    }

    #project1{
        min-height: 400px;
    }

    #project2, #project3, #project4, #project5 {
        height: 175px;
        flex: 50%;
    }

    .row {
        display: flex;
        width: 100%;
    }
    
    .column-30 {
        flex: 0 0 20%; /* 30% of the container */
    }
    
    .column-70 {
        flex: 0 0 80%; /* 70% of the container */
    }

    .title-wrapper{
        border-bottom: 0;
        border-right: 4px solid var(--color-main-2);
        text-align: right;
        height: 100%;
        padding-right: 20px;
    }

    #project-container {
        padding-bottom: 0;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #contact {
        padding-bottom: 3%;
    }

    #contact-info-container a {
        font-size: 1.7rem;
        color: var(--color-main-2);
    }

    .project-title h3 {
        font-size: 1.4rem;
        padding: 5px;
        color: var(--color-main-1);
        font-weight: 600;
    }

    .project-title p {
        padding: 5px;
        font-size: 1rem;
    }
}